<div
	class="flex flex-col items-center justify-center gap-1 whitespace-nowrap rounded-lg bg-accent p-1 sm:flex-row">
	<button
		class="bg-surface text-main-text hover:bg-surface hover:text-main-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md px-3.5 py-2 text-sm drop-shadow-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">
		Tab One
	</button>

	<button
		class="text-muted-text hover:bg-surface hover:text-surface-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md bg-transparent px-3.5 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">
		Tab Two
	</button>

	<button
		class="text-muted-text hover:bg-surface hover:text-surface-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md bg-transparent px-3.5 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">
		Tab Three
	</button>

	<button
		class="text-muted-text hover:bg-surface hover:text-surface-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md bg-transparent px-3.5 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">
		Tab Four
	</button>

	<button
		class="text-muted-text hover:bg-surface hover:text-surface-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md bg-transparent px-3.5 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">
		Tab Five
	</button>
</div>
