<div class="flex w-80 flex-col gap-1.5">
	<div class="flex w-full items-center justify-between gap-2">
		<label for="text" class="text-sm text-foreground">Label</label>

		<svg
			class="h-4 w-4 text-muted-foreground"
			width="16"
			height="16"
			viewBox="0 0 16 16"
			fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<circle
				cx="7.99998"
				cy="8.00016"
				r="6.66667"
				stroke="currentColor"
				stroke-width="1.5" />
			<path
				d="M6.66663 6.00033C6.66663 5.26395 7.26358 4.66699 7.99996 4.66699C8.73634 4.66699 9.33329 5.26395 9.33329 6.00033C9.33329 6.26576 9.25573 6.51308 9.12203 6.72085C8.72356 7.34011 7.99996 7.93061 7.99996 8.66699V9.00033"
				stroke="currentColor"
				stroke-width="1.5"
				stroke-linecap="round" />
			<path
				d="M7.99462 11.3335H8.00061"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round" />
		</svg>
	</div>

	<div class="relative w-80">
		<input
			class="peer flex h-10 w-full rounded-md border bg-secondary px-3 py-2 pr-8 text-sm ring-primary transition duration-300 file:border-0 file:bg-secondary file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:border-border-primary-subtle focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 focus-visible:ring-offset-background"
			id="«rs»"
			placeholder="Username..." />
		<div
			class="absolute right-3.5 top-1/2 -translate-y-1/2 transform [&>svg]:size-5 [&>svg]:text-muted-foreground">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-plus"
				aria-hidden="true">
				<path d="M5 12h14"></path>
				<path d="M12 5v14"></path>
			</svg>
		</div>
	</div>

	<p class="text-sm text-muted-foreground">This is an input description.</p>
</div>
