<!-- Default -->
<div class="space-y-1.5">
	<!-- Label -->
	<label for="default" class="text-sm">Input Label</label>
	<!-- Input -->
	<div class="relative w-80">
		<input
			class="border-input-border bg-main placeholder:text-muted-text focus-visible:ring-ring focus-visible:ring-offset-main peer flex h-10 w-full rounded-md border px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
			id="default"
			placeholder="Placeholder..." />
	</div>
	<!-- Strength Indicator -->
	<div class="flex h-1 w-full min-w-40 max-w-xs items-center gap-1">
		<div class="bg-muted size-full rounded-full"></div>
		<div class="bg-muted size-full rounded-full"></div>
		<div class="bg-muted size-full rounded-full"></div>
		<div class="bg-muted size-full rounded-full"></div>
	</div>
	<!-- Supporting Text -->
	<p class="text-muted-text text-xs">Supporting Text.</p>
</div>

<!-- Error -->
<div class="space-y-1.5">
	<!-- Label -->
	<label for="error" class="text-sm">Input Label</label>
	<!-- Input -->
	<div class="relative w-80">
		<input
			class="border-danger bg-main placeholder:text-muted-text focus-visible:ring-danger focus-visible:ring-offset-main peer flex h-10 w-full rounded-md border px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
			id="error"
			placeholder="Placeholder..." />
	</div>
	<!-- Strength Indicator -->
	<div class="flex h-1 w-full min-w-40 max-w-xs items-center gap-1">
		<div class="bg-danger size-full rounded-full"></div>
		<div class="bg-muted size-full rounded-full"></div>
		<div class="bg-muted size-full rounded-full"></div>
		<div class="bg-muted size-full rounded-full"></div>
	</div>
	<!-- Supporting Text -->
	<p class="text-danger text-xs">Input Error message!.</p>
</div>

<!-- Warning -->
<div class="space-y-1">
	<!-- Label -->
	<label for="warning" class="text-sm">Input Label</label>
	<!-- Input -->
	<div class="relative w-80">
		<input
			class="border-warning bg-main placeholder:text-muted-text focus-visible:ring-warning focus-visible:ring-offset-main peer flex h-10 w-full rounded-md border px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
			id="warning"
			placeholder="Placeholder..." />
	</div>

	<!-- Strength Indicator -->
	<div class="flex h-1 w-full min-w-40 max-w-xs items-center gap-1">
		<div class="bg-warning size-full rounded-full"></div>
		<div class="bg-warning size-full rounded-full"></div>
		<div class="bg-muted size-full rounded-full"></div>
		<div class="bg-muted size-full rounded-full"></div>
	</div>

	<!-- Supporting Text -->
	<p class="text-muted-text text-xs">Supporting Text.</p>
</div>

<!-- Success -->
<div class="space-y-1">
	<!-- Label -->
	<label for="success" class="text-sm">Input Label</label>
	<!-- Input -->
	<div class="relative w-80">
		<input
			class="border-success bg-main placeholder:text-muted-text focus-visible:ring-success focus-visible:ring-offset-main peer flex h-10 w-full rounded-md border px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
			id="success"
			placeholder="Placeholder..." />
	</div>
	<!-- Strength Indicator -->
	<div class="flex h-1 w-full min-w-40 max-w-xs items-center gap-1">
		<div class="bg-success size-full rounded-full"></div>
		<div class="bg-success size-full rounded-full"></div>
		<div class="bg-success size-full rounded-full"></div>
		<div class="bg-muted size-full rounded-full"></div>
	</div>
	<!-- Supporting Text -->
	<p class="text-muted-text text-xs">Supporting Text.</p>
</div>
