<!-- AlertDialog -->
<div class="flex w-full max-w-lg flex-col gap-2 rounded-xl border bg-surface p-6 shadow-lg">
  <!-- AlertDialog Footer -->
  <div class="flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2">
    <button
      class="inline-flex h-10 items-center justify-center gap-1 rounded-md px-3 text-sm transition-colors duration-150 hover:bg-accent hover:text-accent-text active:brightness-90">
      Cancel
    </button>
    <button
      class="inline-flex h-10 items-center justify-center gap-1 rounded-md bg-primary px-3 text-sm text-primary-text transition-colors duration-150 hover:bg-primary/90 active:brightness-90">
      Continue
    </button>
  </div>
</div>
