<div class="flex flex-col gap-4">
	<div>
		<div class="flex items-center gap-2">
			<div class="inline-flex items-center gap-2">
				<label for="checkbox" class="relative flex items-center">
					<input
						id="checkbox"
						class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-[4px] border border-secondary-foreground transition-all checked:border-primary checked:bg-primary"
						type="checkbox"
						checked />
					<span
						class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 opacity-0 transition-opacity peer-checked:opacity-100">
						<!-- checkbox Icon -->
						<svg
							class="text-primary-foreground"
							stroke="currentColor"
							fill="none"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="h-4 w-4"
							height="1em"
							width="1em"
							xmlns="http://www.w3.org/2000/svg">
							<polyline points="20 6 9 17 4 12"></polyline>
						</svg>
					</span>
				</label>
			</div>
			<label
				for="checkbox"
				class="text-sm font-medium leading-none text-foreground">
				Subscribe
			</label>
		</div>
		<p class="pl-7 text-sm text-secondary-foreground">
			Receive weekly updates and offers.
		</p>
	</div>
	<div>
		<div class="flex items-center gap-2">
			<div class="inline-flex items-center gap-2">
				<label
					class="relative flex cursor-pointer items-center rounded-full p-0"
					for="checkbox-radio-button">
					<input
						type="radio"
						class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-secondary-foreground transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-primary checked:before:bg-primary hover:before:opacity-0"
						id="checkbox-radio-button"
						checked />
					<span
						class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-primary opacity-0 transition-opacity peer-checked:opacity-100">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-3.5 w-3.5"
							viewBox="0 0 16 16"
							fill="currentColor">
							<circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
						</svg>
					</span>
				</label>
			</div>
			<label
				for="checkbox-radio-button"
				class="text-sm font-medium leading-none text-foreground">
				Select your plan
			</label>
		</div>
		<p class="pl-7 text-sm text-secondary-foreground">
			Choose the subscription plan that fits you best.
		</p>
	</div>
</div>
