<div class="flex w-full max-w-80 items-center rounded-md bg-secondary p-1">
	<button
		class="inline-flex h-7 w-full items-center justify-center gap-1.5 rounded-md px-3 text-sm font-medium leading-none text-muted-foreground outline-none duration-300 ease-in-out disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background-alt data-[state=active]:text-foreground data-[state=active]:active:bg-background-alt/70"
		data-state="active">
		All
	</button>
	<button
		class="inline-flex h-7 w-full items-center justify-center gap-1.5 rounded-md px-3 text-sm font-medium leading-none text-muted-foreground outline-none duration-300 ease-in-out disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background-alt data-[state=active]:text-foreground data-[state=active]:active:bg-background-alt/70">
		Inbox
	</button>
	<button
		class="inline-flex h-7 w-full items-center justify-center gap-1.5 rounded-md px-3 text-sm font-medium leading-none text-muted-foreground outline-none duration-300 ease-in-out disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background-alt data-[state=active]:text-foreground data-[state=active]:active:bg-background-alt/70">
		Sent
	</button>
	<button
		class="inline-flex h-7 w-full items-center justify-center gap-1.5 rounded-md px-3 text-sm font-medium leading-none text-muted-foreground outline-none duration-300 ease-in-out disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background-alt data-[state=active]:text-foreground data-[state=active]:active:bg-background-alt/70">
		Trash
	</button>
</div>
