<div class="flex flex-wrap items-center gap-4">
	<!-- Default -->
	<button
		class="border-main-border text-default-text hover:bg-accent hover:text-accent-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md border bg-transparent px-3.5 text-sm transition-colors duration-200 ease-in-out focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Default
	</button>

	<!-- Primary -->
	<button
		class="hover:text-primary-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md border border-primary bg-transparent px-3.5 text-sm text-primary transition-colors duration-200 ease-in-out hover:bg-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Primary
	</button>

	<!-- Secondary -->
	<button
		class="hover:text-secondary-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md border border-secondary bg-transparent px-3.5 text-sm text-secondary transition-colors duration-200 ease-in-out hover:bg-secondary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Secondary
	</button>

	<!-- Success -->
	<button
		class="hover:text-success-filled-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md border border-success bg-transparent px-3.5 text-sm text-success transition-colors duration-200 ease-in-out hover:bg-success focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Success
	</button>

	<!-- Info -->
	<button
		class="border-info text-info hover:bg-info hover:text-info-filled-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md border bg-transparent px-3.5 text-sm transition-colors duration-200 ease-in-out focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Info
	</button>

	<!-- Warning -->
	<button
		class="hover:text-warning-filled-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md border border-warning bg-transparent px-3.5 text-sm text-warning transition-colors duration-200 ease-in-out hover:bg-warning focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Warning
	</button>

	<!-- Danger -->
	<button
		class="hover:text-danger-filled-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md border border-danger bg-transparent px-3.5 text-sm text-danger transition-colors duration-200 ease-in-out hover:bg-danger focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Danger
	</button>
</div>
