<div class="flex flex-wrap items-center gap-4">
	<!-- Default -->
	<button
		class="bg-default/40 text-default-text focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md px-3.5 text-sm transition-colors duration-200 ease-in-out hover:opacity-90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Default
	</button>

	<!-- Primary -->
	<button
		class="bg-primary/20 text-primary focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md px-3.5 text-sm transition-colors duration-200 ease-in-out hover:opacity-90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Primary
	</button>

	<!-- Secondary -->
	<button
		class="bg-secondary/20 text-secondary focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md px-3.5 text-sm transition-colors duration-200 ease-in-out hover:opacity-90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Secondary
	</button>

	<!-- Success -->
	<button
		class="bg-success/20 text-success focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md px-3.5 text-sm transition-colors duration-200 ease-in-out hover:opacity-90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Success
	</button>

	<!-- Info -->
	<button
		class="bg-info/20 text-info focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md px-3.5 text-sm transition-colors duration-200 ease-in-out hover:opacity-90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Info
	</button>

	<!-- Warning -->
	<button
		class="bg-warning/20 text-warning focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md px-3.5 text-sm transition-colors duration-200 ease-in-out hover:opacity-90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Warning
	</button>

	<!-- Danger -->
	<button
		class="bg-danger/20 text-danger focus-visible:ring-ring focus-visible:ring-offset-main inline-flex h-10 items-center justify-center gap-1 rounded-md px-3.5 text-sm transition-colors duration-200 ease-in-out hover:opacity-90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
		Danger
	</button>
</div>
