<div class="flex items-center gap-4">
	<div class="relative flex h-8 w-8 shrink-0 items-center justify-center">
		<img
			src="../../assets/avatar-1.png"
			alt="anthony"
			class="h-full w-full rounded-full object-cover object-top" />
	</div>
	<div class="relative flex h-10 w-10 shrink-0 items-center justify-center">
		<img
			src="../../assets/avatar-1.png"
			alt="anthony"
			class="h-full w-full rounded-full object-cover object-top" />
	</div>
	<div class="relative flex h-12 w-12 shrink-0 items-center justify-center">
		<img
			src="../../assets/avatar-1.png"
			alt="anthony"
			class="h-full w-full rounded-full object-cover object-top" />
	</div>
	<div class="relative flex h-14 w-14 shrink-0 items-center justify-center">
		<img
			src="../../assets/avatar-1.png"
			alt="anthony"
			class="h-full w-full rounded-full object-cover object-top" />
	</div>
	<div
		class="relative flex h-[64px] w-[64px] shrink-0 items-center justify-center">
		<img
			src="../../assets/avatar-1.png"
			alt="anthony"
			class="h-full w-full rounded-full object-cover object-top" />
	</div>
	<div
		class="relative flex h-[80px] w-[80px] shrink-0 items-center justify-center">
		<img
			src="../../assets/avatar-1.png"
			alt="anthony"
			class="h-full w-full rounded-full object-cover object-top" />
	</div>
</div>
