<!-- Table Wrapper/Scroller -->
<div
	class="border-main-border bg-surface relative w-full max-w-xl overflow-auto rounded-2xl border"></div>

<!-- Table -->
<table class="text-main-text w-full text-left text-sm rtl:text-right"></table>

<!-- Table Header -->
<thead class="bg-accent sticky left-0 top-0 z-10 h-11 border-b"></thead>

<!-- Table Row -->
<tr></tr>

<!-- Table Header  -->
<th scope="col" class="px-4 py-3"></th>

<!-- Table Body -->
<tbody></tbody>

<!-- Table Body Row -->
<tr class="bg-surface text-main-text border-b"></tr>

<!-- Table Cell -->
<td class="px-4 py-3"></td>
