<div>
  <div class="space-y-1">
    <p class="text-sm text-muted-text">An open-source UI component library.</p>
  </div>

  <!-- Separator Horizontal -->
  <div data-orientation="horizontal" role="none" class="my-4 h-px w-full shrink-0 bg-main-border"></div>

  <div class="flex h-5 items-center space-x-4 text-sm">
    <div>Blog</div>
    <!-- Separator Vertical -->
    <div data-orientation="vertical" role="none" class="h-full w-px shrink-0 bg-main-border"></div>
    <div>Docs</div>
    <!-- Separator Vertical -->
    <div data-orientation="vertical" role="none" class="h-full w-px shrink-0 bg-main-border"></div>
    <div>Source</div>
  </div>
</div>
