<!-- Card -->
<div class="w-full max-w-sm rounded-lg bg-surface text-surface-text shadow-sm">
  <!-- Card Header -->
  <div class="flex flex-col space-y-1.5 p-4">
    <!-- Card Title -->
    <h3 class="text-2xl font-semibold leading-none tracking-tight">Card Titles</h3>
    <!-- Card Description -->
    <p class="text-sm text-muted-text">Card Description</p>
  </div>
  <!-- Card Content -->
  <div class="p-4 pt-0">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, commodi! Ad maxime totam nisi, enim
      consectetur fuga facere natus explicabo!
    </p>
  </div>
  <!-- Card Footer -->
  <div class="flex items-center p-4 pt-0">Card Footer</div>
</div>
