<!-- Breadcrumb -->
<nav>
	<!-- Breadcrumb List -->
	<ol
		class="text-muted-text flex flex-wrap items-center gap-1.5 break-words text-sm sm:gap-2.5">
		<!-- Breadcrumb Item -->
		<li class="inline-flex items-center gap-1.5">
			<!-- Breadcrumb Link -->
			<a class="hover:text-main-text transition-colors hover:underline" href="#"
				>Home</a
			>
		</li>

		<!-- Breadcrumb Item/Separator -->
		<li class="[&>svg]:h-3.5 [&>svg]:w-3.5">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-chevron-right">
				<path d="m9 18 6-6-6-6"></path>
			</svg>
		</li>

		<!-- Breadcrumb Item -->
		<li class="inline-flex items-center gap-1.5">
			<!-- Breadcrumb Link -->
			<a class="hover:text-main-text transition-colors hover:underline" href="#"
				>Components</a
			>
		</li>

		<!-- Breadcrumb Item/Separator -->
		<li class="[&>svg]:h-3.5 [&>svg]:w-3.5">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-chevron-right">
				<path d="m9 18 6-6-6-6"></path>
			</svg>
		</li>

		<!-- Breadcrumb Item/Active Page -->
		<li class="inline-flex items-center gap-1.5">
			<!-- Breadcrumb Link/Active Link -->
			<span class="text-main-text font-normal">Breadcrumb</span>
		</li>
	</ol>
</nav>
