<!-- Breadcrumb -->
<nav>
	<!-- Breadcrumb List -->
	<ol
		class="text-muted-text flex flex-wrap items-center gap-1.5 break-words text-sm sm:gap-2.5">
		<!-- Breadcrumb Item -->
		<li class="inline-flex items-center gap-1.5">
			<!-- Breadcrumb Link -->
			<a class="hover:text-main-text transition-colors hover:underline" href="#"
				>Home</a
			>
		</li>

		<!-- Breadcrumb Item -->
		<li class="inline-flex items-center gap-1.5">
			<!-- Breadcrumb Link -->
			<a class="hover:text-main-text transition-colors hover:underline" href="#"
				>Components</a
			>
		</li>

		<!-- Breadcrumb Item/Active Page -->
		<li class="inline-flex items-center gap-1.5">
			<!-- Breadcrumb Link/Active Link -->
			<span class="text-main-text font-normal">Breadcrumb</span>
		</li>
	</ol>
</nav>
