<div class="flex flex-col gap-4">
	<div class="flex gap-2">
		<div>
			<label class="inline-flex cursor-pointer items-center">
				<input checked class="peer sr-only" type="checkbox" />
				<div
					class="peer relative h-6 w-11 rounded-full bg-muted after:absolute after:start-[2px] after:top-[2px] after:h-5 after:w-5 after:rounded-full after:bg-background after:transition-all after:content-[''] peer-checked:bg-primary peer-checked:after:translate-x-full peer-focus:outline-none peer-disabled:cursor-not-allowed peer-disabled:opacity-50 peer-disabled:after:opacity-50 rtl:peer-checked:after:-translate-x-full"></div>
			</label>
		</div>
		<div class="py-1">
			<h5 class="text-sm font-medium text-foreground">Email Notifications</h5>
			<p class="text-sm font-normal text-secondary-foreground">
				Receive notifications for new messages and updates.
			</p>
		</div>
	</div>
	<div class="flex gap-2">
		<div>
			<label class="inline-flex cursor-pointer items-center">
				<input class="peer sr-only" type="checkbox" />
				<div
					class="peer relative h-6 w-11 rounded-full bg-muted after:absolute after:start-[2px] after:top-[2px] after:h-5 after:w-5 after:rounded-full after:bg-background after:transition-all after:content-[''] peer-checked:bg-primary peer-checked:after:translate-x-full peer-focus:outline-none peer-disabled:cursor-not-allowed peer-disabled:opacity-50 peer-disabled:after:opacity-50 rtl:peer-checked:after:-translate-x-full"></div>
			</label>
		</div>
		<div class="py-1">
			<h5 class="text-sm font-medium text-foreground">Dark Mode</h5>
			<p class="text-sm font-normal text-secondary-foreground">
				Enable a dark theme to reduce eye strain in low light.
			</p>
		</div>
	</div>
</div>
