<div
	class="relative flex w-full max-w-[30rem] items-center gap-4 rounded-md bg-inverse px-6 py-5 text-inverse-foreground transition-colors duration-300">
	<div class="flex w-full gap-2">
		<span class="h-full flex-shrink-0">
			<svg
				width="20"
				height="20"
				viewBox="0 0 20 20"
				fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_4221_6374)">
					<path
						d="M18.3334 9.99967C18.3334 5.3973 14.6025 1.66634 10.0001 1.66634C5.39771 1.66634 1.66675 5.3973 1.66675 9.99967C1.66675 14.602 5.39771 18.333 10.0001 18.333C14.6025 18.333 18.3334 14.602 18.3334 9.99967Z"
						stroke="currentColor"
						stroke-width="1.5" />
					<path
						d="M10.202 14.167V10.0003C10.202 9.60749 10.202 9.41107 10.0799 9.28903C9.95791 9.16699 9.76149 9.16699 9.36865 9.16699"
						stroke="currentColor"
						stroke-width="1.5"
						stroke-linecap="round"
						stroke-linejoin="round" />
					<path
						d="M9.99349 6.66699H10.001"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round" />
				</g>
				<defs>
					<clipPath id="clip0_4221_6374">
						<rect width="20" height="20" fill="white" />
					</clipPath>
				</defs>
			</svg>
		</span>

		<div class="flex w-full flex-col gap-1">
			<h5 class="text-base font-medium">Something went wrong!</h5>
			<p class="text-xs font-normal">There was a problem with your request.</p>
		</div>
	</div>

	<button
		class="hidden h-8 flex-shrink-0 items-center rounded-md bg-background-alt px-3 text-sm font-medium leading-none text-foreground outline-none duration-300 ease-in-out hover:bg-background-alt/80 focus-visible:ring-2 focus-visible:ring-background-alt focus-visible:ring-offset-2 focus-visible:ring-offset-inverse active:bg-background-alt/70 disabled:pointer-events-none disabled:opacity-50 sm:flex">
		<span class="px-1">Try Again</span>
	</button>

	<button class="absolute right-1 top-1 rounded-full p-1 hover:brightness-95">
		<svg
			width="16"
			height="16"
			viewBox="0 0 16 16"
			fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<path
				d="M12 4L8 8M8 8L4 12M8 8L12 12M8 8L4 4"
				stroke="currentColor"
				stroke-width="1.5"
				stroke-linecap="round"
				stroke-linejoin="round" />
		</svg>
	</button>
</div>
