<div class="relative">
  <!-- DropdownMenuTrigger(Button Component) -->
  <button
    class="inline-flex h-10 items-center justify-center gap-1 rounded-md bg-default px-3.5 text-sm text-default-text transition-colors duration-200 ease-in-out hover:opacity-90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-main active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
    Open
  </button>

  <!-- DropdownMenuContent -->
  <div
    class="absolute left-1/2 z-10 mt-2 w-60 -translate-x-1/2 overflow-hidden rounded-md border border-main-border bg-surface p-1 text-surface-text"
    role="menu">
    <div class="px-3 py-1.5 sm:px-4 sm:py-2">
      <p class="text-sm font-semibold text-main-text">Panel Position</p>
    </div>

    <!-- DropdownMenuSeparator -->
    <div class="-mx-1 my-1 h-px bg-main-border"></div>

    <!-- DropdownMenuRadioItems -->
    <button
      role="menuitemcheckbox"
      aria-checked="true"
      class="relative flex w-full select-none items-center rounded-md py-2 pl-4 pr-10 text-sm outline-none transition-colors hover:bg-accent hover:text-accent-text disabled:opacity-50">
      Top
    </button>

    <!-- DropdownMenuRadioItems/Active -->
    <button
      role="menuitemcheckbox"
      aria-checked="true"
      class="relative flex w-full select-none items-center rounded-md bg-primary/20 py-2 pl-4 pr-10 text-sm text-primary outline-none transition-colors disabled:opacity-50">
      <span class="absolute right-4 flex h-3.5 w-3.5 items-center justify-center">
        <span class="inline-flex items-center">
          <label class="relative flex cursor-pointer items-center rounded-full p-0" for="radio-button-example">
            <input
              type="radio"
              class="before:content[''] peer relative h-3.5 w-3.5 cursor-pointer appearance-none rounded-full border border-main-text text-primary transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-primary checked:before:bg-primary hover:before:opacity-0"
              id="radio-button-example"
              name="example"
              checked />
            <span
              class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-primary opacity-0 transition-opacity peer-checked:opacity-100">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2" viewBox="0 0 16 16" fill="currentColor">
                <circle data-name="ellipse" cx="8" cy="8" r="8"></circle>
              </svg>
            </span>
          </label>
        </span>
      </span>

      Bottom
    </button>

    <!-- DropdownMenuRadioItems -->
    <button
      role="menuitemcheckbox"
      aria-checked="true"
      class="relative flex w-full select-none items-center rounded-md py-2 pl-4 pr-10 text-sm outline-none transition-colors hover:bg-accent hover:text-accent-text disabled:opacity-50">
      Right
    </button>
  </div>
</div>
