<div class="relative">
  <!-- DropdownMenuTrigger(Button Component) -->
  <button
    class="inline-flex h-10 items-center justify-center gap-1 rounded-md bg-default px-3.5 text-sm text-default-text transition-colors duration-200 ease-in-out hover:opacity-90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-main active:brightness-90 disabled:pointer-events-none disabled:opacity-50">
    Edit
  </button>

  <!-- DropdownMenuContent -->
  <div
    class="absolute left-1/2 z-10 mt-2 w-60 -translate-x-1/2 overflow-hidden rounded-md border border-main-border bg-surface p-1 text-surface-text"
    role="menu">
    <div class="px-3 py-1.5 sm:px-4 sm:py-2">
      <p class="text-sm text-main-text">John Doe</p>
      <p class="text-xs text-muted-text">@mijnui.com</p>
    </div>

    <!-- DropdownMenuseparator -->
    <div class="-mx-1 my-1 h-px bg-main-border"></div>

    <!-- DropdownMenuItem -->
    <a
      href="#"
      class="relative flex select-none items-center gap-2 rounded-md px-3 py-1.5 text-sm outline-none transition-colors hover:bg-accent hover:text-accent-text sm:px-4 sm:py-2 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0"
      role="menuitem">
      View Warehouse Info
    </a>

    <!-- DropdownMenuItem/Active -->
    <a
      href="#"
      class="relative flex select-none items-center gap-2 rounded-md bg-primary/20 px-3 py-1.5 text-sm text-primary outline-none transition-colors sm:px-4 sm:py-2 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0"
      role="menuitem">
      View on Storefront
    </a>

    <!-- DropdownMenuItem -->
    <a
      href="#"
      class="relative flex select-none items-center gap-2 rounded-md px-3 py-1.5 text-sm outline-none transition-colors hover:bg-accent hover:text-accent-text sm:px-4 sm:py-2 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0"
      role="menuitem">
      Duplicate Product
    </a>

    <!-- DropdownMenuItem -->
    <a
      href="#"
      class="relative flex select-none items-center gap-2 rounded-md px-3 py-1.5 text-sm outline-none transition-colors hover:bg-accent hover:text-accent-text sm:px-4 sm:py-2 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0"
      role="menuitem">
      Unpublish Product
    </a>
  </div>
</div>
