<div class="flex flex-wrap items-end gap-4">
	<!-- Size xs -->
	<div
		class="bg-default text-default-text hover:bg-accent hover:text-accent-text focus:ring-ring inline-flex items-center rounded-full px-1.5 py-0.5 text-xs font-medium shadow-sm transition-colors focus:outline-none focus:ring-2">
		xs
	</div>

	<!-- Size sm -->
	<div
		class="bg-default text-default-text hover:bg-accent hover:text-accent-text focus:ring-ring inline-flex items-center rounded-full px-2 py-0.5 text-sm font-medium shadow-sm transition-colors focus:outline-none focus:ring-2">
		sm
	</div>

	<!-- Size md -->
	<div
		class="bg-default text-default-text hover:bg-accent hover:text-accent-text focus:ring-ring inline-flex items-center rounded-full px-2.5 py-1 text-sm font-medium shadow-sm transition-colors focus:outline-none focus:ring-2">
		md
	</div>

	<!-- Size lg -->
	<div
		class="text-medium bg-default text-default-text hover:bg-accent hover:text-accent-text focus:ring-ring inline-flex items-center rounded-full px-3 py-1 font-medium shadow-sm transition-colors focus:outline-none focus:ring-2">
		lg
	</div>
</div>
