<!-- Accordion -->
<div class="w-full max-w-80">
	<!-- Accordion Item -->
	<div class="w-full border-b">
		<!-- Accordion Trigger/Heading -->
		<h3 class="group w-full">
			<button
				type="button"
				class="flex w-full items-center justify-between py-4">
				<!-- --- -->
				<span class="text-sm font-medium group-hover:underline"
					>What is your return policy?</span
				>

				<svg
					stroke="currentColor"
					fill="none"
					stroke-width="2"
					viewBox="0 0 24 24"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="text-muted-text h-4 w-4 shrink-0"
					height="1em"
					width="1em"
					xmlns="http://www.w3.org/2000/svg">
					<path d="m6 9 6 6 6-6"></path>
				</svg>

				<!-- --- -->
			</button>
		</h3>

		<!-- Accordion Content -->
		<!-- <div class="pb-4">
			<p class="text-sm text-secondary-foreground">
				This is a content of accordion.
			</p>
		</div> -->
	</div>

	<!-- Accordion Item -->
	<div class="w-full border-b">
		<!-- Accordion Trigger/Heading -->
		<h3 class="group w-full">
			<button
				type="button"
				class="flex w-full items-center justify-between py-4">
				<!-- --- -->
				<span class="text-sm font-medium group-hover:underline"
					>How do I track my order?</span
				>

				<svg
					stroke="currentColor"
					fill="none"
					stroke-width="2"
					viewBox="0 0 24 24"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="text-muted-text h-4 w-4 shrink-0 rotate-180"
					height="1em"
					width="1em"
					xmlns="http://www.w3.org/2000/svg">
					<path d="m6 9 6 6 6-6"></path>
				</svg>

				<!-- --- -->
			</button>
		</h3>

		<!-- Accordion Content -->
		<div class="pb-4">
			<p class="text-sm text-secondary-foreground">
				You can track your order by logging into your account and clicking on
				'Order History'.
			</p>
		</div>
	</div>
</div>
