<!-- CalendarWrapper  -->
<div class="border-main-border bg-surface rounded-lg border p-3"></div>

<!-- Calendar -->
<div class="relative flex flex-col sm:flex-row"></div>

<!-- ----------------------------- CalendarNav ----------------------------- -->
<nav></nav>

<!-- Calendar PreviousButton -->
<button
	class="border-main-border hover:bg-accent hover:text-accent-text focus-visible:ring-ring focus-visible:ring-offset-main absolute left-1 top-0 z-10 inline-flex h-7 w-7 items-center justify-center gap-1 rounded-md border bg-transparent p-0 text-sm opacity-50 transition-colors duration-150 hover:opacity-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90"
	aria-label="Go to the Previous Month"></button>

<!-- Calendar NextButton -->
<button
	class="border-main-border hover:bg-accent hover:text-accent-text focus-visible:ring-ring focus-visible:ring-offset-main absolute right-1 top-0 z-10 inline-flex h-7 w-7 items-center justify-center gap-1 rounded-md border bg-transparent p-0 text-sm opacity-50 transition-colors duration-150 hover:opacity-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90"
	aria-label="Go to the Next Month"></button>

<!-- ---------------------------- CalendarMain ----------------------------- -->
<div></div>

<!-- CalendarTitle -->
<div class="flex items-center justify-center py-2">
	<span class="text-sm font-medium" role="status">Calendar Title</span>
</div>

<!-- CalendarTable -->
<table role="grid" class="w-full border-collapse space-y-1"></table>

<!-- CalendarTableHeader -->
<thead></thead>

<!-- CalendarTableHeaderRow -->
<tr class="flex"></tr>

<!-- CalendarTableHeaderCell -->
<th
	class="text-muted-text flex h-9 w-9 items-center justify-center text-[0.8rem] font-normal"></th>

<!-- CalendarTableBody -->
<tbody></tbody>

<!-- CalendarTableRow -->
<tr class="mt-0.5 flex w-full"></tr>

<!-- CalendarTableCell -->
<td></td>

<!-- CalendarTableCellButton/Default -->
<button
	class="hover:bg-accent hover:text-accent-text focus-visible:ring-ring focus-visible:ring-offset-main relative h-9 w-9 rounded-md p-0 text-center text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:brightness-90"></button>

<!-- CalendarTableCellButton/Muted -->
<button
	class="text-muted-text text-muted-text/80 hover:bg-accent focus-visible:ring-ring focus-visible:ring-offset-main relative h-9 w-9 rounded-md p-0 text-center text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"></button>

<!-- CalendarTableCellButton/Active -->
<button
	class="bg-primary text-primary-text focus-visible:ring-ring focus-visible:ring-offset-main relative h-9 w-9 rounded-md p-0 text-center text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"></button>
