<!-- Progress Wrapper -->
<div class="w-80 space-y-1"></div>

<!-- Progress Header -->
<div
	class="text-main-text flex items-center justify-between text-sm font-medium"></div>

<!-- Progress Title -->
<h5>Progress Title</h5>

<!-- Progress Description -->
<p>Progress Description</p>

<!-- Progress Bar -->
<div class="bg-muted relative h-2 w-full overflow-hidden rounded-full">
	<div
		class="bg-primary h-full"
		role="progressbar"
		style="transform: scaleX(0.75); transform-origin: left center"></div>
</div>

<!-- Progress Footer -->
<div class="text-muted-text flex items-center justify-between text-xs"></div>
