<div class="flex w-full max-w-80 flex-col gap-1">
	<h5 class="text-sm font-medium leading-none text-foreground">Downloading</h5>

	<div class="flex items-center gap-2">
		<div class="relative h-2 w-full overflow-hidden rounded-full bg-muted">
			<div
				class="h-full bg-primary"
				aria-valuemin="0"
				aria-valuemax="100"
				aria-valuenow="75"
				role="progressbar"
				style="transform: scaleX(0.25); transform-origin: left center"></div>
		</div>
		<p class="text-xs font-medium leading-none text-foreground">25%</p>
	</div>
</div>
