<!-- Stepper -->
<div
	class="flex w-full max-w-xl flex-col items-center justify-center gap-2 sm:flex-row"></div>

<!-- Stepper Item -->
<div class="flex w-full flex-col items-center gap-2 sm:flex-row"></div>

<!-- Stepper Item Button/Active -->
<button
	class="border-main-text bg-main-text text-main flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full border text-sm">
	1
</button>

<!-- Stepper Item Button/Current -->
<button
	class="border-main-text bg-surface flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full border text-sm">
	2
</button>

<!-- Stepper Item Button/Default -->
<button
	class="text-muted-text flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full border text-sm">
	3
</button>

<!-- Stepper Item Separator/Default -->
<div class="bg-main-border h-8 w-px sm:h-px sm:w-full sm:max-w-40"></div>

<!-- Stepper Item Separator/Active -->
<div class="bg-main-text h-8 w-px sm:h-px sm:w-full sm:max-w-40"></div>
