<!-- ------------------------------- DEFAULT ------------------------------- -->
<!-- Alert -->
<div
	class="border-main-border text-main-text relative w-full max-w-lg rounded-lg border px-3 py-4"></div>

<!-- Alert Icon -->
<span
	class="[&>svg]:text-main-text translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg]:size-5"></span>

<!-- Alert Title -->
<h5 class="w-full pl-8 text-base font-semibold leading-none">Alert Title</h5>

<!-- Alert Description -->
<p class="text-muted-text mt-1 pl-8 text-sm">Alert Description</p>
